{% extends 'layout.html' %}
{% block content %}

<div class="content-section">
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">
                Change Password
            </legend>

            <div class="form-group">
                {{ form.old_password.label(class="form-label") }}
                {% if form.old_password.errors %}
                {{ form.old_password(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.old_password.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ form.old_password(class="form-control form-control-lg") }}
                {% endif %}
            </div>
            <div class="form-group">
                {{ form.new_password.label(class="form-label") }}
                {% if form.new_password.errors %}
                {{ form.new_password(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.new_password.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ form.new_password(class="form-control form-control-lg") }}
                {% endif %}
            </div>
            <div class="form-group">
                {{ form.confrim_new_password.label(class="form-label") }}
                {% if form.confrim_new_password.errors %}
                {{ form.confrim_new_password(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.confrim_new_password.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ form.confrim_new_password(class="form-control form-control-lg") }}
                {% endif %}
            </div>
        </fieldset>
        <div class="form-group mt-3">
            {{ form.submit(class="btn btn-primary") }}
        </div>
    </form>
</div>

<div class="border-top pt-3 mt-3">
    <small class="text-muted">
        return Back ? <a href="{{url_for('base.HomePage')}}" class="btn btn-secondary btn-sm">Go Back</a>
    </small>
</div>
{% endblock content %}