{% extends "layout.html" %} {% block content %}

<section class="vh-100" style="background-color: #9de2ff">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col col-md-9 col-lg-7 col-xl-5">
        <div class="card" style="border-radius: 15px">
          <div class="card-body p-4">
            <div class="d-flex text-black">
              <div class="flex-shrink-0">
                <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-profiles/avatar-1.webp"
                  alt="Generic placeholder image" class="img-fluid" style="width: 180px; border-radius: 10px" />
              </div>
              <div class="flex-grow-1 ms-3">
                <h5 class="mb-1">{{ current_user.username }}</h5>
                <p class="mb-2 pb-1" style="color: #2b2a2a">
                  {{current_user.email}}
                </p>
                <div class="d-flex justify-content-start rounded-3 p-2 mb-2" style="background-color: #efefef">
                  <div>
                    <p class="small text-muted mb-1">Phone</p>
                    <p class="mb-0">{{current_user.phone}}</p>
                  </div>
                  <div class="px-3">
                    <p class="small text-muted mb-1">Bio</p>
                    <p class="mb-0">{{ current_user.bio }}</p>
                  </div>
                  <div>
                    <p class="small text-muted mb-1">Rating</p>
                    <p class="mb-0">8.5</p>
                  </div>
                </div>
                <div class="d-flex pt-1">
                  <button type="button" class="btn btn-outline-primary me-1 flex-grow-1">
                    Chat
                  </button>
                  <button type="button" class="btn btn-primary flex-grow-1">
                    Follow
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<div class="content-section">
  <form action="" method="post">
    {{ form.hidden_tag() }}

    <div class="form-outline mb-4">
      {{ form.username.label(class="form-label") }} {% if form.username.errors
      %} {{ form.username(class="form-control form-control-lg is-invalid") }}
      <div class="invalid-feedback">
        {% for error in form.username.errors %}
        <span>{{error}}</span>
        {% endfor %}
      </div>
      {% else %} {{ form.username(class="form-control form-control-lg") }} {%
      endif %}
    </div>

    <div class="form-outline mb-4">
      {{ form.email.label(class="form-label") }} {% if form.email.errors %} {{
      form.email(class="form-control form-control-lg is-invalid") }}
      <div class="invalid-feedback">
        {% for error in form.email.errors %}
        <span>{{ error }}</span>
        {% endfor %}
      </div>
      {% else %} {{ form.email(class="form-control form-control-lg") }} {% endif
      %}
    </div>

    <div class="form-outline mb-4">
      {{ form.phone.label(class="form-label") }} {% if form.phone.errors
      %} {{ form.phone(class="form-control form-control-lg is-invalid") }}
      <div class="invalid-feedback">
        {% for error in form.phone.errors %}
        <span>{{error}}</span>
        {% endfor %}
      </div>
      {% else %} {{ form.phone(class="form-control form-control-lg") }} {%
      endif %}
    </div>

    <div class="form-outline mb-4">
      {{ form.bio.label(class="form-label") }} {% if form.bio.errors
      %} {{ form.bio(class="form-control form-control-lg is-invalid") }}
      <div class="invalid-feedback">
        {% for error in form.bio.errors %}
        <span>{{error}}</span>
        {% endfor %}
      </div>
      {% else %} {{ form.bio(class="form-control form-control-lg") }} {%
      endif %}
    </div>

    <div class="form-outline mb-4 mt-3">
      {{ form.submit(class="btn btn-primary") }}
    </div>
  </form>
</div>

<div class="content-section">
  <small class="text-muted">
    Change Your Password ?
    <a href="{{url_for('users.ChangePassword')}}" class="btn btn-primary btn-sm">Change</a> </small><br /><br />

  <small class="text-muted">
    Forgot Password ?
    <a href="#" class="btn btn-primary btn-sm">Reset Your Password</a>
  </small>
</div>
{% if current_user.user_is_active!=1 %}
<div class="border-top pt-3 mt-3">
  <small class="text-muted">
    Active Your Account ? <a href="{{url_for('users.Confrim_Email',user_id=current_user.id)}}"
      class="btn btn-secondary btn-sm">Active</a>
  </small>
</div>
{% endif %}
{% endblock %}