{% extends 'layout.html' %}
{% block content %}

<div class="alert alert-info">
    An Sms Including Active Code Have Been Sent For You ! Please Check Your Phone And Continue
</div>

<div class="content-section">
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">
                Confrim Your Email for : {{user.email}} and {{user.phone}}
            </legend>
            <div class="form-group">
                {{ form.confrim_code.label(class="form-label") }}
                {% if form.confrim_code.errors %}
                {{ form.confrim_code(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.confrim_code.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ form.confrim_code(class="form-control form-control-lg") }}
                {% endif %}
            </div>

        </fieldset>

        <div class="form-group mt-3">
            {{ form.submit(class="btn btn-primary") }}
        </div>
    </form>
</div>

<p class="text-danger lead">You Have Only 2ms To Submit Your Active Code.</p>
<span class="text-muted" id="timer">120s</span>
<progress class="progress-bar bg-warning" id="progressBar" max="120" value="120">
    Progress
</progress>
<script type="text/javascript">
    const timerElement = document.getElementById("timer");
    const progressBar = document.getElementById("progressBar");

    let timerCounter = progressBar.max;

    const interval = setInterval(() => {
        if (timerCounter <= 1) {
            window.location.href = "{{ url_for('users.Confrim_Email',user_id=current_user.id) }}"
            clearInterval(interval);
        }


        timerCounter = timerCounter - 1;
        timerElement.innerText = timerCounter + "s";
        progressBar.value = timerCounter;
    }, 1000);


</script>

<div class="border-top pt-3 mt-3">
    <small class="text-muted">
        Didn't Recieve Sms ? <a href="{{ url_for('users.Send_SMS',user_id=current_user.id) }}" class="btn btn-primary btn-sm">Resend</a>
    </small>
</div>


<div class="border-top pt-3 mt-3">
    <small class="text-muted">
        return Back The Home ? <a href="{{url_for('base.HomePage')}}" class="btn btn-secondary btn-sm">Home Page</a>
    </small>
</div>


{% endblock content %}