{% extends 'layout.html' %}
{% block content %}

<div class="content-section">
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">
                Sign In
            </legend>

            <div class="form-group">
                {{ form.remained_money.label(class="form-label") }}
                {% if form.remained_money.errors %}
                {{ form.remained_money(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.remained_money.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ form.remained_money(class="form-control form-control-lg") }}
                {% endif %}
            </div>

            <div class="form-group">
                {{ form.changed_money.label(class="form-label") }}
                {% if form.changed_money.errors %}
                {{ form.changed_money(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.changed_money.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ form.changed_money(class="form-control form-control-lg") }}
                {% endif %}
            </div>

            <div class="form-group">
                {{ form.reason.label(class="form-label") }}
                {% if form.reason.errors %}
                {{ form.reason(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.reason.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ form.reason(class="form-control form-control-lg") }}
                {% endif %}
            </div>

        </fieldset>

        <div class="form-group mt-3">
            {{ form.submit(class="btn btn-primary") }}
        </div>
    </form>
</div>

{% endblock content %}