{% extends 'layout.html' %}
{% block content %}

<div class="content-section">
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">
                Card Infos
            </legend>

            <div class="form-group">
                {{ form.card_number.label(class="form-label") }}
                {% if form.card_number.errors %}
                {{ form.card_number(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.card_number.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ form.card_number(class="form-control form-control-lg") }}
                {% endif %}
            </div>

            <div class="form-group">
                {{ form.card_cvv2.label(class="form-label") }}
                {% if form.card_cvv2.errors %}
                {{ form.card_cvv2(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.card_cvv2.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ form.card_cvv2(class="form-control form-control-lg") }}
                {% endif %}
            </div>

            <div class="form-group">
                {{ form.card_password.label(class="form-label") }}
                {% if form.card_password.errors %}
                {{ form.card_password(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.card_password.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ form.card_password(class="form-control form-control-lg") }}
                {% endif %}
            </div>

        </fieldset>

        <div class="form-group mt-3">
            {{ form.submit(class="btn btn-primary") }}
        </div>
    </form>
</div>

{% endblock content %}