{% extends 'layout.html' %} {% block content %}

<div class="content-section">
  <form action="" method="post">
    {{ form.hidden_tag() }}
    <fieldset class="form-group">
      <legend class="border-bottom mb-4">Sign In</legend>

      <div class="form-group">
        {{ form.product_name.label(class="form-label") }} {% if
        form.product_name.errors %} {{ form.product_name(class="form-control
        form-control-lg is-invalid") }}
        <div class="invalid-feedback">
          {% for error in form.product_name.errors %}
          <span>{{ error }}</span>
          {% endfor %}
        </div>
        {% else %} {{ form.product_name(class="form-control form-control-lg") }}
        {% endif %}
      </div>

      <div class="form-group">
        {{ form.product_gender.label(class="form-label") }} {% if
        form.product_gender.errors %} {{ form.product_gender(class="form-control
        form-control-lg is-invalid") }}
        <div class="invalid-feedback">
          {% for error in form.product_gender.errors %}
          <span>{{ error }}</span>
          {% endfor %}
        </div>
        {% else %} {{ form.product_gender(class="form-control form-control-lg")
        }} {% endif %}
      </div>

      <div class="form-group">
        {{ form.product_price.label(class="form-label") }} {% if
        form.product_price.errors %} {{ form.product_price(class="form-control
        form-control-lg is-invalid") }}
        <div class="invalid-feedback">
          {% for error in form.product_price.errors %}
          <span>{{ error }}</span>
          {% endfor %}
        </div>
        {% else %} {{ form.product_price(class="form-control form-control-lg")
        }} {% endif %}
      </div>

      <div class="form-group">
        {{ form.product_summary.label(class="form-label") }} {% if
        form.product_summary.errors %} {{
        form.product_summary(class="form-control form-control-lg is-invalid") }}
        <div class="invalid-feedback">
          {% for error in form.product_summary.errors %}
          <span>{{ error }}</span>
          {% endfor %}
        </div>
        {% else %} {{ form.product_summary(class="form-control form-control-lg")
        }} {% endif %}
      </div>
    </fieldset>

    <div class="form-group mt-3">
      {{ form.submit(class="btn btn-primary") }}
    </div>
  </form>
</div>

{% endblock content %}
